// 1. Remove the gray background on active links in IE 10.
// 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
// 3. Remove the unwanted box around FAB buttons More info: http://goo.gl/IPwKi
a {
  background-color: transparent;
  border-bottom: 1px solid $accent-color;
  color: #000;
  font-weight: 800;
  text-decoration: none;
  font-family: $font-family-base;
}

// Remove the outline on focused links when they are also active or hovered
// in all browsers (opinionated).
a:active,
a:hover {
  outline-width: 0;
}

a:hover,
a:focus {
  border: 0;
  text-decoration: none;
}

.white-link {
  color: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 1);
}

.a-title {
  background-color: transparent;
  border-bottom: 1px solid #000;
  color: #000;
  font-weight: 100;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
  letter-spacing: .2rem;
  text-transform: uppercase;
  will-change: transform,opacity;
  -webkit-font-smoothing: antialiased !important;
}
