.l-content {
    margin: 0 auto;
    width: 100%;

    @include query(500px) {
        width: 85%;
    }

    @include query(800px) {
        width: 65%;
    }
}

.l-group {
    @include micro-clearfix;
}

.group {
    @include micro-clearfix;
    margin: 0 auto;
    max-width: 900px;
}

.section-wrap {
    padding: 0 $space-base;

    @include query(600px) {
        padding: $space-base $space-base;
    }
}
