$font-family-base: 'Nunito', sans-serif;
$font-family: 'VT323', serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;


$font-color-base: #4d4d4d;

//Colors
$main-color: #e4e4e4;;
$accent-color: #03a3bd;
$red-variant: #ffb0b6;
$yellow: #f4f3c1;

// Inside components
$space-base: 1rem;
$space-small: 1.125rem;
$space-medium: 2.25rem;
$space-large: 3.375rem;
$space-x-large: 4.5rem;
$space-xx-large: 5.625rem;
$space-xxx-large: 6.75rem;
