
.row-table {
    th {
        padding: 10px;
        border: 1px solid #000;
    }
}

.ancentry-table {
  margin: 0 auto;
  padding: 2rem;

  tr {
    border: 1px solid #000;

    td {
      border: 1px solid #000;
      padding: 7px;
    }
  }
}